---
import katex from "katex";

const { formula = '' } = Astro.props;
const html = katex.renderToString(formula, {throwOnError: false});

const { firstLine = "" } = Astro.props; 
const { secondLine = "" } = Astro.props; 
const { thirdLine = "" } = Astro.props; 
const { fourthLine = "" } = Astro.props; 

const firstLineRender = firstLine;
const secondLineRender = secondLine;
const thirdLineRender = thirdLine;
const fourthLineRender = fourthLine;
---

<table>
    <tr>
        <th>A</th>
        <th><div class="text-center">
            <span set:html={html} class="" style="font-size:x-large" />
            </div>
        </th>
    </tr>
    <tr>
        <th>1</th>
        <th>0</th>
    </tr>
    <tr>
        <th>0</th>
        <th>1</th>
    </tr>
</table>